.root {
  position: relative;

  .input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 12px 20px;
    padding-left: 45px;
    width: 300px;
    margin: 0 10px;
    font-size: 16px;

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .svg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 25px;
    top: 14px;
    opacity: 0.2;
  }

  .clear {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 25px;
    top: 14px;
    opacity: 0.2;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
